*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
color:#222;
}

html{
scroll-behavior:smooth;
}

section{
scroll-margin-top:100px;
}

img{
max-width:100%;
height:auto;
display:block;
}
/* NAVBAR */

.navbar{
position:fixed;
top:0;
left:0;
width:100%;
padding:20px 60px;
z-index:999;
background:transparent;
transition:0.4s ease;
}

.nav-container{
display:flex;
justify-content:space-between;
align-items:center;
}


.navbar.scrolled {
background:white;
color: #1db800;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.navbar.scrolled a{
color: #1db800;
}

.logo{
height:45px;
}

/* NAV LINKS */

.nav-menu ul{
display:flex;
list-style:none;
gap:30px;
}

.nav-menu a{
text-decoration:none;
font-weight:600;
color:white;
transition:0.3s;
}

.nav-menu a:hover{
color:#F4B400;
}

/* HAMBURGER */

.menu-toggle{
display:none;
flex-direction:column;
cursor:pointer;
}

.menu-toggle span{
width:20px;
height:3px;
background:white;
margin:4px 0;
transition:0.3s;
}

.menu-toggle:hover span{
background:#F4B400;
}

.navbar.scrolled .menu-toggle span{
background:#1DB800;
}

/* ACTIVE NAV LINK */

.nav-menu a.active{
color:#F4B400;
position:relative;
}

.nav-menu a.active::after{

content:"";
position:absolute;

left:0;
bottom:-6px;

width:100%;
height:2px;

background:#F4B400;

}


/* ANIMATION TO X */

.menu-toggle.active span:nth-child(1){
transform:rotate(45deg) translate(7.5px,7.5px);
}

.menu-toggle.active span:nth-child(2){
opacity:0;
}

.menu-toggle.active span:nth-child(3){
transform:rotate(-45deg) translate(7.5px, -7.5px);
}

/* HERO */

.hero{
position:relative;
height:90vh;
overflow:hidden;
}

.carousel{
height:100%;
}

.slide{
position:absolute;
width:100%;
height:100%;
opacity:0;
transition:opacity 1s ease;
}

.slide img{
width:100%;
height:100%;
object-fit:cover;
}
.slide img{
animation:zoom 10s ease-in-out infinite;
}

@keyframes zoom{
0%{transform:scale(1);}
50%{transform:scale(1.1);}
100%{transform:scale(1);}
}

.slide.active{
opacity:1;
}


/* overlay */

.slide::after{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.4);
}


/* hero content */

.hero-content{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
color:white;
z-index:2;
}

.hero-content h1 {
font-size: 60px;
line-height: 1.1;
}

.hero-content p {
font-size: 20px;
margin-bottom: 30px;
}
.hero-content h1,
.hero-content p,
.hero-buttons{
opacity:0;
transform:translateY(30px);
animation:fadeUp 1s ease forwards;
}

.hero-content h1{
animation-delay:0.3s;
}

.hero-content p{
animation-delay:0.6s;
}

.hero-buttons{
animation-delay:0.9s;
}

@keyframes fadeUp{
to{
opacity:1;
transform:translateY(0);
}
}
#changing-text{
transition:opacity 0.4s ease;
}
.primary-btn{
background:#F4B400;
padding:15px 35px;
color:#222;
text-decoration:none;
font-weight:600;
border-radius:30px;
}

.primary-btn{
position:relative;
overflow:hidden;
transition:0.3s;
}

.primary-btn::before{
content:"";
position:absolute;
top:0;
left:-100%;
width:100%;
height:100%;
background:linear-gradient(120deg,transparent,rgba(255,255,255,0.5),transparent);
transition:0.5s;
display: none;
}

.primary-btn:hover::before{
left:100%;
}

.primary-btn:hover{
background: #1DB800;
color: #fff;
}
.primary-btn{
animation:pulse 2s infinite;
}

@keyframes pulse{
0%{box-shadow:0 0 0 0 rgba(244,180,0,0.7);}
70%{box-shadow:0 0 0 15px rgba(244,180,0,0);}
100%{box-shadow:0 0 0 0 rgba(244,180,0,0);}
}
.secondary-btn{
border:1px solid #F4B400;
padding:15px 35px;
color:#fff;
text-decoration:none;
font-weight:600;
border-radius:30px;
}

.secondary-btn:hover{
background:#1DBF00;
color:white;
border: 1px solid #1DBF00;
}

/* arrows */

.controls{
position:absolute;
top:50%;
width:100%;
display:flex;
justify-content:space-between;
transform:translateY(-50%);
padding:0 30px;
z-index:3;
}

.controls span{
background:#1DBF00;
color:white;
width:50px;
height:50px;
display:flex;
align-items:center;
justify-content:center;
font-size:30px;
border-radius:50%;
cursor:pointer;
}

.controls span:hover{
background:#F4B400;
}
/* FESTIVAL STATS */

.festival-stats{

padding:100px 60px;
background:#111;
color:white;
text-align:center;

}

.stats-container{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:40px;

}

.stat-box{

padding:20px;

}

.stat-number{

font-size:48px;
font-weight:700;
color:#F4B400;
margin-bottom:10px;

}

.stat-box p{

font-size:16px;
color:#ddd;

}
/* EVENT DETAILS */

.event-details{

padding:100px 60px;
text-align:center;
background:white;

}

.event-details h2{

font-size:42px;
color:#1DBF00;
margin-bottom:60px;

}

.details-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:30px;

}

.detail-card{

background:#f7f7f7;
padding:40px 30px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
transition:.3s;

}

.detail-card:hover{

transform:translateY(-8px);

}

.detail-card i{

font-size:32px;
color:#F4B400;
margin-bottom:15px;

}

.detail-card h3{

margin-bottom:10px;
font-size:20px;

}

.detail-card p{

color:#555;

}
/* EXPERIENCE SECTION */

.experience{

padding:100px 60px;
background:#f7f7f7;
text-align:center;

}

.experience h2{

font-size:42px;
margin-bottom:60px;
color:#1DBF00;

}

.experience-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:40px;

}

.experience-card{

background:white;
padding:40px 30px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
transition:0.3s;

}

.experience-card:hover{

transform:translateY(-10px);

}

.icon{
font-size:40px;
margin-bottom:20px;
}

.experience-card h3{
font-size:22px;
margin-bottom:15px;
color:#222;
}

.experience-card p{
color:#555;
line-height:1.6;
}

/* COUNTDOWN SECTION */

.countdown-section{

background:#1DBF00;
padding:100px 20px;
text-align:center;
color:white;

}

.countdown-section h2{

font-size:42px;
margin-bottom:10px;

}

.countdown-sub{

margin-bottom:50px;
font-size:18px;

}

.countdown{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;

}

.time-box{

background:white;
color:#222;
padding:30px 40px;
border-radius:12px;
min-width:120px;
box-shadow:0 8px 20px rgba(0,0,0,0.15);

}

.time-box span{

font-size:40px;
font-weight:700;
color:#F4B400;

}

.time-box p{

margin-top:10px;
font-weight:600;

}

.countdown-btn{

display:inline-block;
margin-top:50px;
background:#F4B400;
color:#222;
padding:15px 40px;
border-radius:30px;
text-decoration:none;
font-weight:600;

}

.countdown-btn:hover{

background:white;
color:#1DBF00;
}
/*vendor section*/

.vendors{

padding:100px 60px;
background:#f7f7f7;
text-align:center;

}

.vendors h2{

font-size:42px;
color:#1DBF00;
margin-bottom:20px;

}

.vendor-intro{

max-width:600px;
margin:auto;
margin-bottom:60px;
color:#555;

}

.vendor-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;

}

.vendor-card{

background:white;
padding:40px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
transition:0.3s;

}

.vendor-card:hover{

transform:translateY(-10px);

}

.vendor-card h3{

margin-bottom:15px;
color:#222;

}

.vendor-btn{

display:inline-block;
margin-top:50px;
background:#F4B400;
padding:15px 40px;
border-radius:30px;
text-decoration:none;
color:#222;
font-weight:600;
}

.vendor-btn:hover{

background:#1DBF00;
color:white;

}

.sponsors{

padding:120px 0;
text-align:center;
background:#fff;

}

.sponsors h2{

font-size:42px;
color:#1DBF00;
margin-bottom:10px;

}

.sponsor-intro{

margin-bottom:60px;
color:#555;

}

/* slider */

.sponsor-slider{

overflow:hidden;
width:100%;
position:relative;

}

.sponsor-track{

display:flex;
width:calc(250px * 12);
animation:scrollSponsors 25s linear infinite;

}

.sponsor-track img{

width:180px;
margin:0 40px;
filter:grayscale(100%);
opacity:.7;
transition:0.3s;

}

.sponsor-track img:hover{

filter:grayscale(0);
opacity:1;
transform:scale(1.1);

}

/* animation */

@keyframes scrollSponsors{

0%{

transform:translateX(0);

}

100%{

transform:translateX(-50%);

}

}

/* button */

.sponsor-btn{

display:inline-block;
margin-top:60px;
background:#F4B400;
padding:16px 40px;
border-radius:30px;
font-weight:600;
color:#222;
text-decoration:none;

}

.sponsor-btn:hover{

background:#1DBF00;
color:#fff;

}

/* FEATURED DESIGNERS & CHEFS */

.featured{

padding:120px 60px;
background:#f7f7f7;
text-align:center;

}

.featured h2{

font-size:42px;
color:#1DBF00;
margin-bottom:10px;

}

.featured-intro{

max-width:650px;
margin:auto;
margin-bottom:60px;
color:#555;

}

.featured-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
padding-top: 30px;

}

.featured-card{

background:white;
border-radius:12px;
overflow:hidden;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
transition:.3s;

}

.featured-card:hover{

transform:translateY(-10px);

}

.featured-card img{

width:100%;
height:280px;
object-fit:cover;

}

.featured-card h3{

margin-top:15px;
font-size:20px;

}

.featured-card p{

padding:10px 20px 25px;
color:#555;

}

.featured-img{
position:relative;
overflow:hidden;
}

.featured-img img{
width:100%;
height:280px;
object-fit:cover;
display:block;
transition:0.4s;
}

.featured-overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);

display:flex;
align-items:center;
justify-content:center;

opacity:0;
transition:0.4s;
}

.featured-overlay a{
color:white;
font-size:26px;
background:#F4B400;

width:55px;
height:55px;

display:flex;
align-items:center;
justify-content:center;

border-radius:50%;
text-decoration:none;
}

.featured-card:hover img{
transform:scale(1.1);
}

.featured-card:hover .featured-overlay{
opacity:1;
}

/* BACK TO TOP BUTTON */

#backToTop{

position:fixed;
bottom:30px;
right:30px;

width:50px;
height:50px;

border:none;
border-radius:50%;

background:#F4B400;
color:#222;

font-size:20px;
cursor:pointer;

display:none;

align-items:center;
justify-content:center;

box-shadow:0 5px 15px rgba(0,0,0,0.2);

transition:0.3s;

z-index:1000;

}

#backToTop:hover{

background:#1DBF00;
color:white;

}

/* FLOATING TICKET BUTTON */

.floating-ticket{

position:fixed;
bottom:25px;
left:50%;
transform:translateX(-50%);

background:#1DBF00;
color:white;

padding:14px 28px;

border-radius:40px;

font-weight:600;
text-decoration:none;

display:none;
align-items:center;
gap:10px;

box-shadow:0 8px 20px rgba(0,0,0,0.2);

z-index:1000;

transition:0.3s;

}

.floating-ticket:hover{

background:#F4B400;
color:#222;

}
/* GALLERY SECTION */

.gallery{

padding:120px 60px;
background:#f8f8f8;
text-align:center;

}

.gallery h2{

font-size:42px;
color:#1DBF00;
margin-bottom:10px;

}

.gallery-intro{

max-width:650px;
margin:auto;
margin-bottom:60px;
color:#555;

}

/* MASONRY LAYOUT */

.masonry-gallery {
column-count: 4;
column-gap: 15px;
}

.masonry-gallery img {
width: 100%;
margin-bottom: 15px;
border-radius: 12px;
display: block;
}

.masonry-gallery img:hover{

transform:scale(1.05);

}


/* button */

.gallery-btn{

display:inline-block;
margin-top:60px;
background:#F4B400;
padding:16px 40px;
border-radius:30px;
text-decoration:none;
color:#222;
font-weight:600;

}

.gallery-btn:hover{

background:#1DBF00;
color:white;

}

/* PARALLAX SECTION */

.parallax{

height:500px;

background-image:url("images/parallax.jpg");

background-size:cover;
background-position:top;

background-attachment:fixed;

display:flex;
align-items:center;
justify-content:center;

text-align:center;
color:white;

position:relative;

}

/* dark overlay */

.parallax::before{

content:"";
position:absolute;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.55);

}

/* content */

.parallax-content{

position:relative;
z-index:2;
max-width:700px;

}

.parallax h2{

font-size:42px;
margin-bottom:20px;

}

.parallax p{

font-size:18px;
margin-bottom:30px;

}

/* button */

.parallax-btn{

background:#F4B400;
color:#222;

padding:14px 35px;

border-radius:30px;
text-decoration:none;
font-weight:600;

transition:0.3s;

}

.parallax-btn:hover{

background:#1DBF00;
color:white;

}

/* TICKETS SECTION */

.tickets{

padding:120px 60px;
text-align:center;
background:white;

}

.tickets h2{

font-size:42px;
color:#1DBF00;
margin-bottom:10px;

}

.ticket-intro{

max-width:650px;
margin:auto;
margin-bottom:70px;
color:#555;

}

.ticket-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;

}

.ticket-card{

background:#FFF;
padding:40px 30px;
border-radius:12px;
transition:.3s;

}

.ticket-card:hover{

transform:translateY(-8px);

}

.ticket-card h3{

font-size:24px;
margin-bottom:10px;

}

.price{

font-size:32px;
color:#F4B400;
margin-bottom:20px;

}

.ticket-card ul{

list-style:none;
margin-bottom:25px;

}

.ticket-card li{

margin-bottom:10px;
color:#555;

}

.ticket-btn{

display:inline-block;
padding:12px 30px;
background:#1DBF00;
color:white;
border-radius:25px;
text-decoration:none;
font-weight:600;

}

.ticket-btn:hover{

background:#F4B400;
color:#222;

}

/* VIP Highlight */

.vip{

background:#1DBF00;
color:white;

}

.vip .price{

color:#F4B400;

}

.vip li{

color:white;

}

.vip .ticket-btn{

background:#F4B400;
color:#222;

}
/* VENDOR HERO */

.vendors-hero{

height:65vh;

background-image:url("images/Vendorhero.jpg");
background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;

text-align:center;
color:white;
position:relative;

}

.vendors-hero::before{

content:"";
position:absolute;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.6);

}

.vendors-hero-content{

position:relative;
z-index:2;
max-width:700px;

}

.vendors-hero h1{

font-size:48px;
margin-bottom:20px;

}

.vendor-cta{

display:inline-block;
margin-top:20px;
padding:14px 30px;

background:#F4B400;
color:#000;

border-radius:6px;
text-decoration:none;
font-weight:600;

}

.vendor-cta:hover{

background:#000;
color:#fff;

}
/* VENDOR BENEFITS */

.vendor-benefits{

padding:120px 60px;
text-align:center;

}

.benefits-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:40px;
margin-top:60px;

}

.benefit-card{

background:#f7f7f7;
padding:40px;
border-radius:10px;
transition:0.3s;

}

.benefit-card:hover{

transform:translateY(-8px);

}

/* VENDOR CATEGORIES */

.vendor-categories{

padding:120px 60px;
text-align:center;
background:#f7f7f7;

}

.vendor-cat-intro{

max-width:600px;
margin:auto;
margin-bottom:60px;
color:#555;

}

.vendor-cat-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:40px;

}

.vendor-cat-card{

background:white;
padding:40px 25px;
border-radius:12px;
box-shadow:0 8px 25px rgba(0,0,0,0.08);
transition:0.3s;

}

.vendor-cat-card:hover{

transform:translateY(-10px);
box-shadow:0 15px 35px rgba(0,0,0,0.15);

}


.vendor-cat-card h3{

margin-bottom:10px;

}

.vendor-cat-card p{

color:#555;
font-size:14px;

}
/* VENDOR PACKAGES */

.vendor-packages{

padding:120px 60px;
text-align:center;
background:#ffffff;

}

.vendor-packages-intro{

max-width:600px;
margin:auto;
margin-bottom:60px;
color:#555;

}

.vendor-packages-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:40px;

}

.vendor-package-card{

background:#f7f7f7;
padding:40px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
position:relative;
transition:0.3s;

}

.vendor-package-card:hover{

transform:translateY(-10px);

}

.vendor-price{

font-size:36px;
font-weight:700;
margin:20px 0;

}

.vendor-package-card ul{

list-style:none;
padding:0;
margin:25px 0;

}

.vendor-package-card ul li{

margin-bottom:10px;
color:#444;

}

.vendor-btn{

display:inline-block;
padding:12px 25px;
background:#F4B400;
color:#000;
border-radius:6px;
text-decoration:none;
font-weight:600;

}

.vendor-btn:hover{

background:#000;
color:#fff;

}

/* VENDOR APPLICATION */

.vendor-application{

padding:120px 60px;
background:#f7f7f7;
text-align:center;

}

.vendor-app-intro{

max-width:600px;
margin:auto;
margin-bottom:50px;
color:#555;

}

.vendor-form{

max-width:700px;
margin:auto;
text-align:left;

}

.form-group{

margin-bottom:20px;

}

.form-group label{

display:block;
margin-bottom:6px;
font-weight:600;

}

.form-group input,
.form-group select,
.form-group textarea{

width:100%;
padding:12px;
border:1px solid #ccc;
border-radius:6px;
font-size:14px;

}

.form-group textarea{

height:120px;
resize:none;

}

.vendor-submit{

display:block;
width:100%;
padding:14px;
background:#F4B400;
border:none;
border-radius:6px;
font-size:16px;
font-weight:600;
cursor:pointer;

}

.vendor-submit:hover{

background:#000;
color:#fff;

}
/* FEATURED PACKAGE */

.featured{

border:2px solid #F4B400;
transform:scale(1.05);

}

.popular{

position:absolute;
top:-12px;
left:50%;
transform:translateX(-50%);
background:#F4B400;
padding:6px 15px;
font-size:12px;
border-radius:20px;

}
/* FAQ SECTION */

.faq{

padding:120px 60px;
background:#f8f8f8;
text-align:center;

}

.faq h2{

font-size:42px;
color:#1DBF00;
margin-bottom:60px;

}

.faq-container{

max-width:800px;
margin:auto;

}

.faq-item{

margin-bottom:15px;
border-radius:8px;
overflow:hidden;
background:white;

}

.faq-question{

width:100%;
padding:20px;
font-size:18px;
text-align:left;
border:none;
background:white;
cursor:pointer;
display:flex;
justify-content:space-between;
align-items:center;

}

.faq-question:hover{

background:#f1f1f1;

}

.faq-answer{

max-height:0;
overflow:hidden;
transition:max-height .4s ease;
padding:0 20px;

}

.faq-answer p{

padding:15px 0;
color:#555;

}

.icon{

font-size:20px;
color:#1DBF00;

}
/* FOOTER */

.footer{

background:#232323;
color:white;
padding:80px 60px 30px;

}

.footer-container{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:40px;
margin-bottom:40px;

}

.footer-about img{

width:80px;

}

.footer-about p{

color:#bbb;

}

.footer-links h3,
.footer-contact h3,
.footer-social h3{

margin-bottom:15px;

}

.footer-links ul{

list-style:none;

}

.footer-links li{

margin-bottom:10px;

}

.footer-links a{

text-decoration:none;
color:#bbb;

}

.footer-links a:hover{

color:#F4B400;

}

.footer-contact p{

color:#bbb;
margin-bottom:8px;

}

.social-icons a{

display:inline-block;
margin-right:10px;
font-size:20px;
color:white;
transition:.3s;

}

.social-icons a:hover{

color:#F4B400;

}

.footer-bottom{

border-top:1px solid #444;
text-align:center;
padding-top:20px;
color:#aaa;

}

.lightbox{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
display:none;
justify-content:center;
align-items:center;
z-index:9999;

}

.lightbox-img{

max-width:90%;
max-height:85%;
border-radius:8px;

}

.close-lightbox{

position:absolute;
top:30px;
right:40px;
font-size:40px;
color:white;
cursor:pointer;

}
/* TICKETS HERO */

.tickets-hero{

height:60vh;

background-image:url("images/ticketshero.png");
background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;

text-align:center;
color:white;
position:relative;

}

.tickets-hero::before{

content:"";
position:absolute;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.6);

}

.tickets-hero-content{

position:relative;
z-index:2;
max-width:700px;

}

.tickets-hero h1{

font-size:48px;
margin-bottom:20px;

}

.tickets-hero p{

font-size:18px;

}
/* TICKETS PAGE */

.tickets-page{

padding:120px 60px;
text-align:center;
background:#f7f7f7;

}

.ticket-page-intro{

max-width:600px;
margin:auto;
margin-bottom:60px;
color:#555;

}
/* VIP EXPERIENCE */

.vip-experience{

padding:120px 60px;
background:#ffffff;

}

.vip-container{

display:grid;
grid-template-columns:1fr 1fr;
gap:60px;
align-items:center;

}

.vip-image img{

width:100%;
border-radius:12px;

}

.vip-content h2{

font-size:36px;
margin-bottom:20px;

}

.vip-intro{

color:#555;
margin-bottom:25px;
line-height:1.6;

}

.vip-benefits{

list-style:none;
padding:0;
margin-bottom:30px;

}

.vip-benefits li{

margin-bottom:12px;
font-size:16px;

}

.vip-btn{

display:inline-block;
background:#F4B400;
color:#000;
padding:14px 28px;
border-radius:6px;
text-decoration:none;
font-weight:600;
transition:0.3s;

}

.vip-btn:hover{

background:#000;
color:#fff;

}
/* ABOUT HERO */

.about-hero{

height:60vh;
background-image:url("images/hero1.jpg");
background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;

text-align:center;
color:white;
position:relative;

}

.about-hero::before{

content:"";
position:absolute;
top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.6);

}

.about-hero-content{

position:relative;
z-index:2;
max-width:700px;

}

.about-hero h1{

font-size:48px;
margin-bottom:20px;

}
/* ABOUT FESTIVAL */

.about-festival{

padding:120px 60px;

}

.about-container{

display:grid;
grid-template-columns:1fr 1fr;
gap:60px;
align-items:center;

}

.about-text p{

margin-bottom:20px;
line-height:1.7;
color:#555;

}

.about-image img{

width:100%;
border-radius:10px;

}

/* VISION & MISSION */

.vision-mission{

padding:120px 60px;
background:#f9f9f9;
text-align:center;

}

.vm-container{

display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
margin-top:50px;

}

.vm-card{

background:white;
padding:40px;
border-radius:10px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
transition:0.3s;

}

.vm-card:hover{

transform:translateY(-10px);

}

.vm-icon{

font-size:40px;
margin-bottom:20px;

}

.vm-card h3{

margin-bottom:15px;

}

.vm-card p{

color:#555;
line-height:1.7;

}
/* FESTIVAL HIGHLIGHTS */

.festival-highlights{

padding:120px 60px;
text-align:center;

}

.highlight-intro{

max-width:700px;
margin:auto;
margin-top:20px;
color:#555;
line-height:1.7;

}

.highlight-grid{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
margin-top:60px;

}

.highlight-card{

background:#fff;
padding:40px 30px;
border-radius:10px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
transition:0.3s;

}

.highlight-card:hover{

transform:translateY(-10px);

}

.highlight-icon{

font-size:40px;
margin-bottom:20px;

}

.highlight-card h3{

margin-bottom:15px;

}

.highlight-card p{

color:#555;
line-height:1.6;

}
/* ORGANIZERS SECTION */

.organizers{

padding:120px 60px;
background:#f7f7f7;

}
.organizer-container{

display:grid;
grid-template-columns:1fr 1fr;
gap:60px;
align-items:center;

}

.organizer-image img{

width:100%;
border-radius:10px;

}

.organizer-content{
    max-width:600px;
}
.organizer-content h3{
margin-bottom:20px;
}

.organizer-content p{
margin-bottom:20px;
color:#555;
line-height:1.7;
}

.organizer-btn{
display:inline-block;
padding:12px 25px;
background:#F4B400;
color:#000;
text-decoration:none;
border-radius:6px;
font-weight:600;
}

.organizer-btn:hover{
background:#000;
color:#fff;
}
/* SPONSOR HERO */

.sponsor-hero{

height:60vh;
background:url("images/gallery/_MG_2376.jpg") center/cover no-repeat;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
position:relative;

}

.sponsor-hero::before{

content:"";
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);

}

.sponsor-hero-content{

position:relative;
z-index:2;
max-width:700px;

}
/* WHY SPONSOR */

.why-sponsor{

padding:100px 60px;
text-align:center;

}
.why-sponsor h2{
    padding-bottom: 20px;
}
.why-grid{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;

}

.why-card{

background:#fff;
padding:30px;
border-radius:10px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);

}

/* AUDIENCE */

.audience{

padding:120px 60px;
text-align:center;

}

.audience-intro{

max-width:700px;
margin:auto;
color:#555;
margin-top:20px;

}

.audience-stats{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:30px;
margin-top:50px;

}

.stat-box{

background:#fff;
padding:30px;
border-radius:10px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);

}

.stat-box h3{

font-size:32px;
color:#F4B400;

}
/* SPONSOR PACKAGES */

.sponsor-packages{
padding:120px 60px;
background:#f7f7f7;
text-align:center;
}

.sponsor-packages h2{
    padding-bottom: 40px;
}
.sponsor-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:40px;

}

.sponsor-card{
background:white;
padding:40px;
border-radius:10px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
}
.sponsor-card ul {
list-style: none;
padding: 0;
margin-top: 20px;
}

.sponsor-card ul li {
position: relative;
margin-bottom: 12px;
text-align: center;
}

.price{
font-size:32px;
margin:20px 0;
}

/* BENEFITS */

.sponsor-benefits{

padding:100px 60px;
text-align:center;

}

.benefits-list{

list-style:none;

}

.benefits-list li{

margin:10px 0;

}

/* CTA */

.sponsor-cta{

padding:100px 60px;
text-align:center;
background:#111;
color:white;

}

.cta-btn{

display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#F4B400;
color:#000;
border-radius:6px;
text-decoration:none;

}
/* GALLERY HERO */

.gallery-hero{

height:50vh;
background:url("images/_MG_1946.jpg") center/cover no-repeat;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
color:white;
position:relative;

}

.gallery-hero::before{

content:"";
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);

}

.gallery-hero h1,
.gallery-hero p{

position:relative;
z-index:2;

}
.gallery-filters{

text-align:center;
margin:50px 0;

}

.filter-btn{

padding:10px 20px;
margin:5px;
border:none;
background:#eee;
cursor:pointer;
border-radius:20px;

}

.filter-btn.active{

background:#F4B400;

}
.gallery-page{

padding:60px;

}

.gallery-item{

width:100%;
margin-bottom:15px;
border-radius:10px;
cursor:pointer;
transition:0.3s;

}

.gallery-item:hover{

transform:scale(1.03);

}
.lightbox{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
display:none;
justify-content:center;
align-items:center;

}

#lightbox-img{

max-width:90%;
max-height:90%;
border-radius:10px;

}

.close{

position:absolute;
top:30px;
right:40px;
color:white;
font-size:40px;
cursor:pointer;

}
/* RESPONSIVE DESIGN*/ 
@media (max-width: 1000px){

.hero-content h1{
font-size: 45px;
}

.hero-content p{
font-size: 18px;
}
.masonry-gallery {
column-count: 3;
}
.primary-btn::before{
display: flex;
}

}

@media (max-width: 768px){

.navbar{
padding:20px;
}

.nav-menu{
position:fixed;
top:0;
right:-100%;
width:70%;
height:100vh;
background:white;
display:flex;
align-items:center;
justify-content:center;
transition:0.4s;
}

.nav-menu ul{
flex-direction:column;
gap:35px;
}

.nav-menu a{
color:#222;
font-size:20px;
}

.nav-menu.active{
right:0;
}

.menu-toggle{
display:flex;
}
.floating-ticket{
display:flex;
}
.parallax{
height:420px;
}

.vip-container{

grid-template-columns:1fr;

}

.vip-content{

text-align:center;
}
.benefits-grid{

grid-template-columns:1fr;

}
.vendor-cat-grid{

grid-template-columns:1fr;

}
.vendor-packages-grid{

grid-template-columns:1fr;

}

.featured{

transform:none;

}
.vendor-application{

padding:80px 25px;

}
.stats-container{

grid-template-columns:1fr 1fr;

}

.stat-number{

font-size:36px;

}
.about-container{

grid-template-columns:1fr;

}

.about-text{

text-align:center;

}
.vm-container{

grid-template-columns:1fr;

}
.highlight-grid{

grid-template-columns:1fr;
gap:25px;

}
.organizer-container{

grid-template-columns:1fr;

text-align:center;

}
.why-grid,
.sponsor-grid{

grid-template-columns:1fr;

}
.hero{
height: 85vh;
}

.hero-content{
width: 90%;
}

.hero-content h1{
font-size: 32px;
line-height: 1.2;
}

.hero-content p{
font-size: 16px;
margin-bottom: 20px;
}
.controls{
    display: none;
}
/* FIX BUTTON OVERLAP */
.hero-buttons{
display:flex;
flex-direction:column;
gap:15px;
align-items:center;
}

.primary-btn,
.secondary-btn{
width: 80%;
text-align:center;
}
.masonry-gallery {
column-count: 1;
}
}

/* SMALL PHONES */
@media (max-width: 480px){

.hero-content h1{
font-size: 26px;
}

.hero-content p{
font-size: 14px;
}

.primary-btn,
.secondary-btn{
width: 100%;
}
.masonry-gallery {
column-count: 1;
}
}
/* ===============================
GLOBAL MOBILE OPTIMIZATION
=============================== */

/* Prevent horizontal scroll
body {
overflow-x: hidden;
}

/* Better container spacing */
section:not(.hero){
padding: 80px 20px;
}
/* ===============================
TABLETS (<= 1024px)
=============================== */
@media (max-width: 1024px){

/* Reduce padding everywhere */
.navbar{
padding:15px 30px;
}

/* HERO */
.hero-content h1{
font-size:40px;
}

.hero-content p{
font-size:18px;
}

/* GRID FIXES */
.stats-container,
.highlight-grid,
.why-grid,
.audience-stats{
grid-template-columns:repeat(2,1fr);
}

/* GALLERY FIX */
.masonry-gallery{
column-count:2;
}

/* VIP SECTION */
.vip-container{
grid-template-columns:1fr;
gap:40px;
text-align:center;
}

}

/* ===============================
MOBILE (<= 768px)
=============================== */
@media (max-width: 768px){

/* NAV FIX */
.navbar{
padding:15px 20px;
}

/* HERO */
.hero{
height:auto;
min-height:85vh;
}

.hero-content{
width:95%;
}

.hero-content h1{
font-size:28px;
}

.hero-content p{
font-size:15px;
}

/* BUTTON STACK */
.hero-buttons{
flex-direction:column;
gap:12px;
}

.primary-btn,
.secondary-btn{
width:100%;
}

/* REMOVE ARROWS */
.controls{
display:none;
}

/* GRID STACK */
.stats-container,
.details-grid,
.experience-grid,
.vendor-grid,
.ticket-grid,
.featured-grid,
.benefits-grid,
.vendor-cat-grid,
.vendor-packages-grid,
.highlight-grid,
.why-grid,
.sponsor-grid,
.audience-stats{
grid-template-columns:1fr !important;
}

/* FIX BIG SECTIONS */
.vip-container,
.about-container,
.organizer-container{
grid-template-columns:1fr;
text-align:center;
}

/* GALLERY FIX */
.masonry-gallery{
column-count:1;
}

/* PARALLAX FIX (important for mobile) */
.parallax{
background-attachment:scroll;
height:350px;
}

/* TICKETS */
.ticket-card{
padding:25px 20px;
}

/* FOOTER */
.footer{
padding:60px 20px;
}

}

/* ===============================
SMALL PHONES (<= 480px)
=============================== */
@media (max-width: 480px){

    .hero-content h1{
font-size:24px;
}

.hero-content p{
font-size:14px;
}

/* TEXT SCALE */
h2{
font-size:28px !important;
}

p{
font-size:14px;
}

/* BUTTON FULL WIDTH */
.primary-btn,
.secondary-btn{
width:100%;
padding:12px;
}

/* COUNTDOWN */
.time-box{
min-width:80px;
padding:20px;
}

.time-box span{
font-size:28px;
}

/* GALLERY */
.gallery{
padding:60px 15px;
}

/* FIX SPACING */
section:not(.hero){
padding: 80px 20px;
}
}
